# ⚡ Node / Angular
node_modules/
dist/
.angular/
out-tsc/
tmp/
coverage/
npm-debug.log*
yarn-error.log*
.zed

# ⚡ Spring Boot / Java
.project
.factorypath
.settings
.classpath
target/
build/
.mvn/
*.log
package-lock.json
# ⚡ Entornos y configuración
.env
.env.local
.env.*.local

# ⚡ IDEs
.vscode/
.idea/
*.iml

# ⚡ TurboRepo
.turbo/

# ⚡ Sistema
.DS_Store
Thumbs.db
