<div class="flex flex-col gap-2 p-10 rounded-sm bg-primary">
  <div class="w-full flex flex-row items-center gap-5 mb-6">
    <button (click)="returnToPreviousRoute()"
      class="h-12 w-12 text-gray-500 flex justify-center items-center rounded-full hover:bg-gray-200 dark:hover:bg-gray-700 transition-colors">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
      </svg>
    </button>
    <h1 class="font-work-sans text-2xl ">Sign up</h1>
  </div>
  <div class="flex flex-col gap-4 font-roboto-mono">
    <div class="w-full flex flex-col gap-y-1 min-h-[89px]">
      <div class="flex flex-row gap-x-2 w-full">
          <div class="w-full flex flex-col gap-y-2">
            <label class="text-sm font-medium ">Username <span class="text-violet-500 text-[10px]">*</span></label>
            <input-form id="username" placeholder="Your username" class="flex-1" />
          </div>
          <div class="w-full flex flex-col gap-y-2">
            <label class="text-sm font-medium ">Email <span class="text-violet-500 text-[10px]">*</span></label>
            <input-form id="email" placeholder="example@gmail.com" class="flex-1" />
          </div>
        </div>
          <span class="text-xs  text-end text-red-300/90">The password field is required.</span>
      </div>

    
    <div class="flex flex-col gap-y-2 w-full">
      <label class="text-sm font-medium">Avatar</label>
      <div class="flex flex-col sm:flex-row items-start gap-4 w-full">
        <div class="flex-1">
          <input (change)="onFileSelected($event)" type="file" accept="image/*" class="h-10 w-full min-w-9 p-2.5 text-sm border border-border rounded-md outline-none
         focus:ring-1 hover:ring-1 hover:ring-button focus:ring-button focus:border-button
         file:px-3 file:rounded-md file:border-0 file:text-sm file:font-medium
         file:bg-button/90 file:text-white dark:file:text-white
         hover:file:bg-transparent
         file:cursor-pointer cursor-pointer transition-all duration-150" />

          <span data-scope="field" data-part="helper-text" class="pl-1 text-sm text-[#b5b2bc]">Upload your profile
            picture
            (PNG,
            JPG,
            max 2MB)</span>
        </div>
        <div class="relative">
          <div
            class="w-16 h-16  border-2 border-dashed dark:border-light-100 dark:bg-transparent border-gray-300 flex items-center justify-center bg-gray-50 overflow-hidden">
            @if(profileUrl()){
            <img [src]="profileUrl()" alt="avatar user">
            <button (click)="onClearImage()" type="button"
              class="absolute -top-2  -right-2 w-5 h-5 bg-button hover:bg-button-hover text-white rounded-full flex place-content-center text-xs font-light transition-colors">
              <p>x</p>
            </button>
            }@else{
            <span class="text-gray-400 text-xs text-center">Logo</span>
            }
          </div>
        </div>
      </div>
      
    </div>
    <div class="flex flex-col gap-y-2 w-full min-h-[149px]">
      <label class="text-sm font-medium">Password <span class="text-violet-500 text-[10px]">*</span></label>
      <div class="flex flex-col gap-y-4">
        <input-form id="password" placeholder="*********" />
        <input-form id="password_verify" placeholder="verify password" />
      </div>
      <span class="text-xs  text-end text-red-300/90">The password field is required.</span>

    </div>

    <button class="bg-button  font-work-sans hover:bg-button-hover cursor-pointer h-12 rounded-md mt-4" type="button">
      Register your Account
    </button>
  </div>
</div>