<div class="mx-auto container h-full">
  <h1>followers</h1>


  <div class="flex flex-row">
    <div class="w-[320px] h-[260px] bg-primary rounded-2xl  overflow-auto shadow-md">
      <div class="flex flex-col h-full">
        <div class="relative w-full h-[90px]">
          <div class="top-0 absolute w-full h-[90px] overflow-hidden ">
            <img src="https://i.pinimg.com/736x/f1/9f/32/f19f323579ce11b69b92a2a32c7ac582.jpg" alt="banner user"/>
          </div>
          <div class="absolute top-10 left-1/2 -translate-x-1/2 w-25 h-25 bg-bg-card rounded-full overflow-auto">
            <div class="flex justify-center items-center w-full h-full p-1">
              <img class="w-full h-full object-cover rounded-full" src="https://preview.redd.it/ncenmesjwkme1.jpg?width=640&crop=smart&auto=webp&s=8a6eb5736bb5317bd7c996e5df58ca4e07b5de70"/>
            </div>
          </div>
        </div>


        <div class="relative w-full" >
          <div class="absolute top-15 font-syne left-10 flex flex-col">
            <h1 class="text-headline">Holaa</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
